/* The sidebar menu */
.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #bfbfbf; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}

/*Sidebar content*/
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #a12020;
  font-weight: 900;
  display: block;
  transition: 0.3s;
  text-decoration: underline;
}

.sidebar .Indent {
    font-size: 20px;
    padding-left: 40px;
    color: #6c6767;
    display: block;
    font-weight: 500;
    text-decoration: none;
}

.division {
    font-size: large;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #2f2f2f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}