/* The sidebar menu */
.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #bfbfbf; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}

/*Sidebar content*/
.sidebar a {
  padding: 8px 8px 8px 32px;
  display: block;
  transition: 0.5s;
  text-decoration: underline;
  color: #000000;
  cursor: pointer;
}

/*indented content in sidebar */
.sidebar .indent {
    font-size: 20px;
    padding-left: 40px;
    color: #685f5f;
    display: block;
    font-weight: 500;
    text-decoration: none;
}

/*main content in side bar*/
.division {
    font-size: larger;
    font-weight: 900;
}

/* change colour of sidebar content when hover */
.sidebar a:hover {
  color: #1951c8;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #2f2f2f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  float: left;
  margin-right: 30px; 
}

.openbtn:hover {
  background-color: #545454;
}

/*  push the page content to the right when open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Main Heading */
h1 {
  font-size: 40px;
  text-decoration: underline;
  display:flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.uploadbtn {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}
