body {
    margin: 0;
    font-family: Arial;
    background-color: #F1E2D1;
}

.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background: #F1E2D1;
    transition: left 0.3s ease;
}

.sidebar a {
    display: block;
    color: rgb(0, 0, 0);
    margin: 10px 0;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}

.sidebar h2,
.sidebar a {
    padding-left: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.sidebar a i {
    font-size: 20px;
}

.sidebar.active {
    left: 0;
}

.sidebar a:hover{
    background-color: #DCC3AA;
}

.sidebar a.active{
    background-color: #F1E2D1;
    font-weight: bold;
}

.main {
    padding: 20px;margin-left: 40px;
}

.menu-btn {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #F1E2D1;
    margin-left: -30px;
    border-radius: 18px;
}

.main {
    transition: margin-left 0.3s;
}

.sidebar.active ~ .main {
    margin-left: 250px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}

#overlay.active {
    display: block;
}


.main {
    padding: 20px;
    transition: margin-left 0.3s;
    background-color: #edeeca; 
    min-height: 100vh;
}

.sidebar.active ~ .main {
    margin-left: 250px;
}

.menu-btn {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: #F1E2D1;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 18px;
}

header{
    width: 100%;
    height: 80px;
    background-color: #810B38;
}

.body{
    background-color: #F1E2D1
}