body{
  background-color: antiquewhite;
}

.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background: rgb(206, 156, 89);
    color: rgb(0, 0, 0);
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s; 
}

.sidebar h2 {
    margin-bottom: 20px;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.sidebar a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 8px 8px 8px 32px;
    transition: 0.5s;
    cursor: pointer;
    flex-grow: 1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  text-decoration: none;
}

.sidebar a:hover {
    background: rgb(150, 115, 69);
}

.main {
    flex: 1;
    padding: 20px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(206, 156, 89);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  float: left;
  margin-right: 30px; 
}

.openbtn:hover {
  background-color: #4f6479;
}

#movemain {
  transition: margin-left .5s;
  padding: 20px;
  margin-left: 0;
}

.header-section {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-bottom: 20px;
}

h1 {
  font-size: 40px;
  text-decoration: underline;
  display:flex;
  align-items: center;
  gap: 20px;
  float:left;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 260px;
  height: 170px;
  border-radius: 20px;
  margin: 20px 20px;
  display: inline-block;
  flex-direction: column;    
  justify-content: center;  
  align-items: center;      
  text-align: center;
}


.line1 .line2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.databoard {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}



.right-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container h4 {
  font-size: 30px;
}

.container p{
  font-size: 30px;
  font-weight: bolder;
}

#Total{
  background-color: #bc9ee7;
}

#Interested{
  background-color: #ffff99;
}

#Applied{
  background-color: #99ffff;
}

#Rejected{
  background-color: #bd4a4a;
}

#Stage1{
  background-color: #99ccff;
}

#Stage2{
  background-color: #3474b4;
}

#Interview{
  background-color: #299b9b;
}

#Accepted{
  background-color: #41be41;
}
