<!DOCTYPE html>
<html>
<head>
    <title>My Job Tracker</title>
    </head>
<body>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
    
    <script type="module">
        import Chatbot from "https://cdn.jsdelivr.net/npm/@denserai/embed-chat@1/dist/web.min.js";
        Chatbot.init({
        chatbotId: "chatbot_gcntvcndfh5ldda4vt4y4",
        theme: {
            button: {
                size: 'large',   // Options: 'small', 'medium', 'large'
                bottom: 40,      // Pixels from the bottom (default is 20)
                right: 40,       // Pixels from the right (default is 20)
                color: '#f4e1d2' // You can try your "creamy" aesthetic hex code here!
                },
            }, 
        });
    </script>  
    
</body>
</html>