<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/filled/boxicons-filled.min.css" rel="stylesheet">   
</head>
<body>

    <div id="overlay" onclick="toggleSidebar()"></div>

    <div class="sidebar" id="sidebar">
        <h2>Menu</h2>

        <a href="/dashboard" class="{% if active_page == 'dashboard' %}active{% endif %}">
            <i class="bxf bx-home-circle"></i>
            Dashboard
        </a>

        <a href="javascript:void(0);" onclick="openPopup()">
            <i class="bxf bx-plus-square"></i>
            New Application
        </a>

        <a href="/document">
            <i class="bxf bx-folder"></i>
            Documents
        </a>

        <a href="/reminders" class="{% if active_page == 'reminders' %}active{% endif %}">
            <i class='bxf bx-bell'></i>
            Reminders
        </a>

        <a href="/statistic" class="{% if active_page == 'statistic' %} active {% endif %}">
            <i class='bxf bx-chart-bar-big-columns'></i>
            Statistic
        </a>

        <a href="/account" class="{% if active_page == 'reminders' %}active{% endif %}">
            <i class='bxf bx-user'></i>
            Account profile
        </a>
        <a href="/chat">
            <i class="bxf bx-discussion"></i>
            chat
        </a>

        <a href="/">
            <i class="bxf bx-arrow-out-right-square-half"></i>
            Log Out
        </a>
    </div>

    <script>
    function toggleSidebar() {
        document.getElementById("sidebar").classList.toggle("active");
        document.getElementById("overlay").classList.toggle("active");
    }
    </script>

    <header class="custom-header">
    <div class="header-container">
        <button class="menu-btn" onclick="toggleSidebar()">
            <i class="bx bx-menu bx-sm"></i>
        </button>
        
        <nav class="profile-nav">         
            {% if current_user.is_authenticated and current_user.image_file %}
                <img src="{{ url_for('static', filename='uploads/profile_pics/' + current_user.image_file) }}" class="user-pic" id="profile-icon" onclick="toggleMenu()">
            {% else %}
                <img src="{{ url_for('static', filename='default_avatar.png') }}" class="user-pic" id="profile-icon" onclick="toggleMenu()">
            {% endif %}

            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                    {% if current_user.is_authenticated and current_user.image_file %}
                        <img src="{{ url_for('static', filename='uploads/profile_pics/' + current_user.image_file) }}" alt="User Profile">
                    {% else %}
                        <img src="{{ url_for('static', filename='default_avatar.png') }}" class="user-pic" id="profile-icon" onclick="toggleMenu()">
                    {% endif %}

                        <h2>{{ current_user.full_name }}</h2>
                    </div>
                    <hr>

                    <a href="/account" class="sub-menu-link">
                        <i class='bx bx-user'></i>
                        <p>Edit Profile</p>
                        <span>&gt;</span>
                    </a>

                    <a href="/enquiry" class="sub-menu-link">
                        <i class='bxf bx-message-bubble-question-mark'></i>
                        <p>Enquiry</p>
                        <span>&gt;</span>
                    </a>

                    <a href="/" class="sub-menu-link">
                        <i class="bxf bx-arrow-out-right-square-half"></i>
                        <p>Logout</p>
                        <span>&gt;</span>
                    </a>                    
                </div>
            </div>
        </nav>
    </div>
    </header>

    <script>
    let subMenu = document.getElementById("subMenu")
    let menuBtn = document.getElementById("profile-icon");

    function toggleMenu(){
        subMenu.classList.toggle("open-menu")
    }
    document.addEventListener("click", function(event) {
        if (subMenu.classList.contains("open-menu")) {
            if (!subMenu.contains(event.target) && !menuBtn.contains(event.target)) {
            subMenu.classList.remove("open-menu");
        }
        }
    });
    </script>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script>
    function toggleSidebar() {
        document.getElementById("sidebar").classList.toggle("active");
        document.getElementById("overlay").classList.toggle("active");
    }
    </script>

    <script>
    document.addEventListener("DOMContentLoaded", function () {

        const popup = document.getElementById("popupForm");
        const sidebar = document.getElementById("sidebar");
        const overlay = document.getElementById("overlay");

        window.openPopup = function () {
            popup.classList.add("show");

            if (sidebar) sidebar.classList.remove("active");
            if (overlay) overlay.classList.remove("active");
        }

        window.closePopup = function () {
            popup.classList.remove("show");
            sidebar.classList.remove("active");
            overlay.classList.remove("active");
        }

        popup.addEventListener("click", function (event) {
            if (event.target === popup) {
                closePopup();
            }
        });

        window.toggleSidebar = function () {
            sidebar.classList.toggle("active");
            overlay.classList.toggle("active");
        }

    });
    </script>
    
    <div id="ai-chatbot-wrapper">
        <script type="module">
            import Chatbot from "https://cdn.jsdelivr.net/npm/@denserai/embed-chat@1/dist/web.min.js";
            Chatbot.init({
            chatbotId: "chatbot_gcntvcndfh5ldda4vt4y4",
            theme: {
                button: {
                    size: 'large',   
                    bottom: 40,      
                    right: 40,       
                    color: '#abc17c' 
                    },
                }, 
            });
        </script>  
    </div>
    
</body>
</html>