<!DOCTYPE html>
<html>
<head>
    <title>Job Application Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_job.css')}}">
    <link href="https://cdn.boxicons.com/transformations.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/filled/boxicons-filled.min.css" rel="stylesheet">
</head>

<body>
    <div id="overlay" onclick="toggleSidebar()"></div>

    <div class="sidebar" id="sidebar">
        <h2>Menu</h2>

        <a href="/dashboard" class="{% if active_page == 'dashboard' %}active{% endif %}">
            <i class="bxf bx-home-circle"></i>
            Dashboard
        </a>

        <a href="javascript:void(0);" onclick="openPopup()">
            <i class="bxf bx-plus-square"></i>
            New Application
        </a>

        <a href="/templates/document.html">
            <i class="bxf bx-folder"></i>
            Documents
        </a>

        <a href="/reminders" class="{% if active_page == 'reminders' %}active{% endif %}">
            <i class='bxf bx-bell'></i>
            Reminders
        </a>

        <a href="#">
            <i class="bxf bx-arrow-out-right-square-half"></i>
            Log Out
        </a>
    </div>

    <div class="main">
        <button class="menu-btn" onclick="toggleSidebar()">
            <i class="bx bx-menu bx-sm"></i>
        </button>

        <h1>Job Application Dashboard</h1>

    <div class="tabs">
    <button class="tab-btn active" onclick="openTab(event, 'full')">Full-Time</button>
    <button class="tab-btn" onclick="openTab(event, 'part')">Part-Time</button>
    <button class="tab-btn" onclick="openTab(event, 'intern')">Intern</button>
    </div>

    <div id="full" class="tab-content active">
        <div class="card-container">
            {% for job in full_time %}
                <div class="card">
                    <h2>{{ job.company_name }}</h2>

                    <p><strong>Job Position:</strong> {{ job.job_position }}</p>
                    <p><strong>Location:</strong> {{ job.location }}</p>
                    <p><strong>Application Status:</strong> {{ job.job_status.capitalize() }}</p>

                    <div class="dates">
                        <h4>Application Dates</h4>

                        {% if job.dates %}
                            {% for d in job.dates %}
                                <p><strong>{{ d.date_type }}:</strong> {{ d.date_value }}</p>
                            {% endfor %}
                        {% else %}
                            <p>No dates added</p>
                        {% endif %}
                    </div>
                    <button class="edit-btn"
                        onclick="openEditModal(
                            '{{ job.company_name }}',
                            '{{ job.job_position }}',
                            '{{ job.location }}',
                            '{{ job.job_status }}',
                            '{{ job.job_type }}'
                        )">
                        Edit
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="part" class="tab-content">
        <div class="card-container">
            {% for job in part_time %}
                <div class="card">
                    <h2>{{ job.company_name }}</h2>


                    <p><strong>Job Position:</strong> {{ job.job_position }}</p>
                    <p><strong>Location:</strong> {{ job.location }}</p>
                    <p><strong>Application Status:</strong> {{ job.job_status.capitalize() }}</p>

                    <div class="dates">
                        <h4>Application Dates</h4>

                        {% if job.dates %}
                            {% for d in job.dates %}
                                <p><strong>{{ d.date_type }}:</strong> {{ d.date_value }}</p>
                            {% endfor %}
                        {% else %}
                            <p>No dates added</p>
                        {% endif %}
                    </div>
                    <button class="edit-btn"
                        onclick="openEditModal(
                            '{{ job.company_name }}',
                            '{{ job.job_position }}',
                            '{{ job.location }}',
                            '{{ job.job_status }}',
                            '{{ job.job_type }}'
                        )">
                        Edit
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="intern" class="tab-content">
        <div class="card-container">
            {% for job in intern %}
                <div class="card">
                    <h2>{{ job.company_name }}</h2>


                    <p><strong>Job Position:</strong> {{ job.job_position }}</p>
                    <p><strong>Location:</strong> {{ job.location }}</p>
                    <p><strong>Application Status:</strong> {{ job.job_status.capitalize() }}</p>

                    <div class="dates">
                        <h4>Application Dates</h4>

                        {% if job.dates %}
                            {% for d in job.dates %}
                                <p><strong>{{ d.date_type }}:</strong> {{ d.date_value }}</p>
                            {% endfor %}
                        {% else %}
                            <p>No dates added</p>
                        {% endif %}
                    </div>
                    <button class="edit-btn"
                        onclick="openEditModal(
                            '{{ job.company_name }}',
                            '{{ job.job_position }}',
                            '{{ job.location }}',
                            '{{ job.job_status }}',
                            '{{ job.job_type }}'
                        )">
                        Edit
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="editModal" class="modal">

    <div class="modal-content">

        <span class="close" onclick="closeEditModal()">&times;</span>

        <h2>Edit Job</h2>

        <form id="editForm" method="POST">

            <input type="hidden" name="job_id" id="edit_id">

            <label>Company Name</label>
            <input type="text" name="company_name" id="edit_company">

            <label>Job Position</label>
            <input type="text" name="job_position" id="edit_position">

            <label>Location</label>
            <input type="text" name="location" id="edit_location">

            <label>Application Status</label>
            <input type="text" name="job_status" id="edit_status">

            <label>Job Type</label>
            <input type="text" name="job_type" id="edit_type">

            <button type="submit">Update</button>

        </form>

    </div>
    </div>

    {% include 'job.html' %}

    <script>
    function toggleSidebar() {
        document.getElementById("sidebar").classList.toggle("active");
        document.getElementById("overlay").classList.toggle("active");
    }
    </script>

    <script>
    function openTab(evt, tabName) {
        let contents = document.getElementsByClassName("tab-content");
        let buttons = document.getElementsByClassName("tab-btn");

        for (let i = 0; i < contents.length; i++) {
            contents[i].classList.remove("active");
        }

        for (let i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove("active");
        }

        document.getElementById(tabName).classList.add("active");
        evt.currentTarget.classList.add("active");
    }
    </script>

    <script>
    document.addEventListener("DOMContentLoaded", function () {

        const popup = document.getElementById("popupForm");
        const sidebar = document.getElementById("sidebar");
        const overlay = document.getElementById("overlay");

        window.openPopup = function () {
            popup.classList.add("show");

            if (sidebar) sidebar.classList.remove("active");
            if (overlay) overlay.classList.remove("active");
        }

        window.closePopup = function () {
            popup.classList.remove("show");
            sidebar.classList.remove("active");
            overlay.classList.remove("active");
        }

        popup.addEventListener("click", function (event) {
            if (event.target === popup) {
                closePopup();
            }
        });

        window.toggleSidebar = function () {
            sidebar.classList.toggle("active");
            overlay.classList.toggle("active");
        }

    });
    </script>

    <script>
    function openEditModal(id, company, position, location, status, type) {

        document.getElementById("editModal").style.display = "block";

        document.getElementById("edit_id").value = id;
        document.getElementById("edit_company").value = company;
        document.getElementById("edit_position").value = position;
        document.getElementById("edit_location").value = location;
        document.getElementById("edit_status").value = status;
        document.getElementById("edit_type").value = type;

        document.getElementById("editForm").action = "/edit_job/" + id;
    }

    function closeEditModal() {
        document.getElementById("editModal").style.display = "none";
    }
    </script>

</body>
</html>