<!DOCTYPE html>
<html>
<head>
    <title>Job Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link href="https://cdn.boxicons.com/transformations.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/filled/boxicons-filled.min.css" rel="stylesheet">
</head>

<body>
    <div id="overlay" onclick="toggleSidebar()"></div>

    <div class="sidebar" id="sidebar">
        <h2>Menu</h2>
        <a href="/">New Job</a>
        <a href="#">Documents</a>
        <a href="#">Reminders</a>
        <a href="#">Log Out</a>

    </div>

    <div class="main">
        <button class="menu-btn" onclick="toggleSidebar()"><i class="bx bx-menu bx-sm"></i></button>

        <h1>Dashboard</h1>
        <p>Welcome to your job tracker!</p>
    </div>

    <script>
        function toggleSidebar() {
            document.getElementById("sidebar").classList.toggle("active");
            document.getElementById("overlay").classList.toggle("active");
        }
    </script>

</body>
</html>