<html>
<head>
    <title>Forgot password</title>
</head>
<body>
    <section class="d-flex justify-content-center align-items-center" style="height: 100vh;">
<div class="card p-4" style="width: 400px;">
	<h1 class="text-2xl font-semibold">Reset Password</h1>

    <div class="signup_link"> A password reset link has been sent to your email and is valid for <b>10 minutes </b>
    </div>
    <form method="POST">

        <div class="txt_field" hidden>
            <input type="email" name="email" required vlaue="{{email}}">
            <span></span>
            <label>Email</label>
        </div>

        <div class="signup_link">
            Didn't receive email?
        </div>
        <input type="submit" value="Resend Email">
        <br>
        
    </form>
     





</section>
</body>
</html>