<!DOCTYPE html>
<html lang="en">
<head>
    <title>CareerTrack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleindex.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>  
    <div class="container" id="container">


        <div class="form-container sign-in">
            <form action="{{ url_for('register') }}" method="post">
                <h1>Welcome to CareerTrack!</h1>
                <br>
                <h3>We are here to help you</h3>
                <ul>
                    <li>Track Your Job applications</li>
                    <li>Organize Your Professional Documents</li>
                    <li>Record Important Details of the Jobs</li>
                </ul>
                <p>Interested? <br> Register your account now!</p>
                
                <button type="submit">Sign Up</button>
            </form>
        </div>
        
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <h2>Don't have an account?</h2>
                    <p>Register with your account details to use all of site features</p>
                    <a href="{{ url_for('login') }}"><button type="button" class="hidden">Click Here to Login</button></a>
                </div>
            </div>
        </div>
    </div>


</body>
</html>




