<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.boxicons.com/transformations.min.css" rel="stylesheet">
    <link rel="stylesheet" href="C:\Users\Lenovo\Project\2610-CSP1123-G002\static\test.css">
    <!-- Basic Icons -->
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <!-- Filled Icons -->
    <link href="https://cdn.boxicons.com/3.0.8/fonts/filled/boxicons-filled.min.css" rel="stylesheet">
    <!-- Brand Icons -->
    <link href="https://cdn.boxicons.com/3.0.8/fonts/brands/boxicons-brands.min.css" rel="stylesheet">
    <title>New Application</title>
</head>
<body>

    <h1>Add New Application</h1>

    <form action="">
        <i class="bx-pull-left bxf bx-buildings bx-sm"></i><label for="cname">Company Name</label>
        <input type="text" id="cname" name="companyname" placeholder="Company name">

        <i class="bx-pull-left bxf bx-user-id-card bx-sm"></i><label for="position">Job Position</label>
        <input type="text" id="position" name="jobposition" placeholder="Job Position">

        <i class="bx-pull-left bxf bx-location bx-sm"></i><label for ='location'>Location</label>
        <input type="text" id="location" name="location" placeholder="Location">

        <div class="date-card">
            <h3>Important Dates</h3>

            <div class="date-group">
                <label>Application</label>
                <input type="date" name="applicationdate">
            </div>

            <div class="date-group">
                <label>Deadline</label>
                <input type="date" name="deadline">
            </div>
        </div>

        <i class="bx-pull-left bxf bx-chart-bar-big-columns bx-sm"></i><label for="status">Job Status</label>
        <select id="status" name="status">
            <option value="interested">Interested</option>
            <option value="applied">Applied</option>
            <option value="rejected">Rejected</option>
            <option value="stage1">Stage 1</option>
            <option value="stage2">Stage 2</option>
            <option value="interview">Interview</option>
            <option value="accepted">Accepted</option>

        </select>

        <input type="submit" value="Add Application">
    </form>

</body>
</html>