<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="C:\Users\Lenovo\Project\2610-CSP1123-G002\static\test.css">
    <title>Job Application</title>
</head>
<body>

    <h1>Add Job Application</h1>

    <form action="">
        <label for="cname">Company Name</label>
        <input type="text" id="cname" name="companyname" placeholder="Company name">

        <label for="position">Job Position</label>
        <input type="text" id="position" name="jobposition" placeholder="Job Position">

        <label for ='location'>Location</label>
        <input type="text" id="location" name="location" placeholder="Location">

        <label for="status">Job Status</label>
        <select id="status" name="status">
            <option value="interested">Interested</option>
            <option value="applied">Applied</option>
            <option value="rejected">Rejected</option>
            <option value="stage1">Stage 1</option>
            <option value="stage2">Stage 2</option>
            <option value="interview">Interview</option>
            <option value="accepted">Accepted</option>

        </select>

        <input type="submit" value="Add">
    </form>

</body>
</html>