<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block content %}
<head>
    <title>Reminders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reminders.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='job.css') }}">
    <link href="https://cdn.boxicons.com/transformations.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/filled/boxicons-filled.min.css" rel="stylesheet">
</head>

<body>
        <h1>Reminders</h1>

       <h2>Upcoming</h2>

        {% for event in upcoming_events %}
        <div class="reminder-card">

            <div class="reminder-title">
                {{ event.title }}
            </div>

            <div class="reminder-date">
                {{ event.date_value.strftime("%d %b %Y %I:%M %p") }}
            </div>

        </div>
        {% endfor %}

        <h2>Past Reminder</h2>

        {% for event in past_events %}
        <div class="reminder-card past-card">

            <div class="reminder-title">
                {{ event.title }}
            </div>

            <div class="reminder-date">
                {{ event.date_value.strftime("%d %b %Y %I:%M %p") }}
            </div>

        </div>
        {% endfor %}
    </div>

{% include 'job.html' %}
{% endblock %} 
</body>
</html>