<!DOCTYPE html>
<html>
<head>
    <title>Reminders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <link href="https://cdn.boxicons.com/transformations.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/filled/boxicons-filled.min.css" rel="stylesheet">
</head>

<body>
    <div id="overlay" onclick="toggleSidebar()"></div>

    <div class="sidebar" id="sidebar">
        <h2>Menu</h2>

        <a href="/dashboard" class="{% if active_page == 'dashboard' %}active{% endif %}">
            <i class="bxf bx-home-circle"></i>
            Dashboard
        </a>

        <a href="#" onclick="openPopup()">
            <i class="bxf bx-plus-square"></i>
            New Application
        </a>

        <a href="/templates/document.html">
            <i class="bxf bx-folder"></i>
            Documents
        </a>

        <a href="/reminders" class="{% if active_page == 'reminders' %}active{% endif %}">
            <i class='bxf bx-bell'></i>
            Reminders
        </a>

        <a href="#">
            <i class="bxf bx-arrow-out-right-square-half"></i>
            Log Out
        </a>
    </div>

    <div class="main">
        <button class="menu-btn" onclick="toggleSidebar()">
            <i class="bx bx-menu bx-sm"></i>
        </button>

        <h1>Upcoming Reminders</h1>

        {% if important_dates %}
            <ul>
                {% for d in important_dates %}
                    <li>
                        <strong>{{ d.date_type }}</strong> - 
                        {{ d.date_value }} 
                        ({{ d.job.company_name }})
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No upcoming reminders</p>
        {% endif %}
    </div>

    <script>
    function toggleSidebar() {
        document.getElementById("sidebar").classList.toggle("active");
        document.getElementById("overlay").classList.toggle("active");
    }
    </script>

</body>
</html>