<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block content %}
<head>
    <title>Reminders</title>
    <link href="https://cdn.boxicons.com/transformations.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <link href="https://cdn.boxicons.com/3.0.8/fonts/filled/boxicons-filled.min.css" rel="stylesheet">
</head>

<body>
    <div class="main">

        <h1>Reminders</h1>

       <h2>Upcoming</h2>

        {% for r in upcoming_reminders %}
        <div class="reminder-card">

            <div class="reminder-title">
                {{ r.message }}
            </div>

            <div class="reminder-date">
                {{ r.reminder_date.strftime('%d %b %Y %I:%M %p') }}
            </div>

        </div>
        {% endfor %}

        <h2>Past Activity</h2>

        {% for r in past_reminders %}
        <div class="reminder-card past-card">

            <div class="reminder-title">
                {{ r.message }}
            </div>

            <div class="reminder-date">
                {{ r.reminder_date.strftime('%d %b %Y %I:%M %p') }}
            </div>

        </div>
        {% endfor %}
    </div>

{% include 'job.html' %}
{% endblock %} 
</body>
</html>